@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #332115;
  --background-02: #f9f1e2;
  --foreground-02: #0053d4;
  --background-03: #c6dcff;
  --foreground-03: #e9f9b2;
  --background-04: #5f6d3b;
  --foreground-04: #756f6c;
}

@theme inline {
  --color-background: var(--background);
  --color-background-02: var(--background-02);
  --color-background-03: var(--background-03);
  --color-background-04: var(--background-04);
  --color-foreground: var(--foreground);
  --color-foreground-02: var(--foreground-02);
  --color-foreground-03: var(--foreground-03);
  --color-foreground-04: var(--foreground-04);
  --font-xanh: var(--font-xanh-mono);
  --font-gasoek: var(--font-gasoek-one);
  --font-jakarta: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #332115;
    --background-02: #f9f1e2;
    --foreground-02: #0053d4;
    --background-03: #c6dcff;
    --foreground-03: #e9f9b2;
    --background-04: #5f6d3b;
    --foreground-04: #756f6c;
  }
}

body {
  background: var(--background-03);
  color: var(--foreground-02);
}

p {
  margin-bottom: 1rem;
}

.wp-block-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-block: 2rem;
}

.wp-block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 15s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee {
    animation: none;
  }
}
